.loader-spinner {
	width: 50px;
	height: 50px;
	border: 4px solid rgba(96, 165, 250, 0.2);
	border-radius: 50%;
	border-top-width: 5px;
	border-right-width: 5px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
